<div
  class="modal fade"
  id="addTestimony"
  tabindex="-1"
  aria-labelledby="addTestimonyLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTestimonyLabel">Add New Testimony</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="/testimonies?_method=POST"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="clientPhoto">Client Photo</label>
            <input
              type="file"
              class="form-control"
              id="clientPhoto"
              name="clientPhoto"
              accept="image/*"
              required
            />
          </div>
          <div class="form-group">
            <label for="clientName">Client Name</label>
            <input
              type="text"
              name="clientName"
              id="clientName"
              class="form-control"
              placeholder="e.g. John Doe, Jane Doe, etc"
              required
            />
          </div>
          <div class="form-group">
            <label for="occupation">Occupation</label>
            <input
              type="text"
              name="occupation"
              id="occupation"
              class="form-control"
              placeholder="e.g. Web Developer, Software Engineer, etc"
              required
            />
          </div>
          <div class="form-group">
            <label for="rate">Rate</label>
            <input
              type="number"
              name="rate"
              id="rate"
              step="0.01"
              min="1"
              max="5"
              class="form-control"
              placeholder="e.g. 4.5, 5, etc"
              required
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="5"
              class="form-control"
              required
              placeholder="Enter message here..."
              style="resize: none"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
