<div class="modal fade" id="updateTestimony" tabindex="-1" aria-labelledby="updateTestimonyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateTestimonyLabel">Update Testimony</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="updateForm" method="post" enctype="multipart/form-data">
          <img src="" alt="" id="latestClientPhoto" class="img-fluid" width="100" />
          <div class="form-group">
            <label for="updateClientPhoto">Client Photo</label>
            <input type="file" class="form-control" id="updateClientPhoto" name="clientPhoto" accept="image/*" />
          </div>
          <div class="form-group">
            <label for="updateClientName">Client Name</label>
            <input type="text" name="clientName" id="updateClientName" class="form-control"
              placeholder="e.g. John Doe, Jane Doe, etc" required />
          </div>
          <div class="form-group">
            <label for="updateOccupation">Occupation</label>
            <input type="text" name="occupation" id="updateOccupation" class="form-control"
              placeholder="e.g. Web Developer, Software Engineer, etc" required />
          </div>
          <div class="form-group">
            <label for="updateRate">Rate</label>
            <input type="number" name="rate" id="updateRate" step="0.01" min="1" max="5" class="form-control"
              placeholder="e.g. 4.5, 5, etc" required />
          </div>
          <div class="form-group">
            <label for="updateMessage">Message</label>
            <textarea name="message" id="updateMessage" cols="30" rows="5" class="form-control" required
              placeholder="Enter message here..." style="resize: none"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>