<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hivemind Digital Agency Server" />
    <meta name="author" content="kadekdarmayasa" />

    <title><%= title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/public/css/base.css" type="text/css" />
    <link href="/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet" />
    <link
      href="/sb-admin-2/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

<body id="page-top">
<div id="wrapper">

