<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex" href="">
    <div class="sidebar-brand-text">Hivemind Admin</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <% if(view == "dashboard") { %>
  <li class="nav-item active">
  <% } else { %>
  <li class="nav-item">
  <% } %>
    <% if(user.roleId === 1) { %>
      <a class="nav-link" href="/admin">
        <% } else { %>
          <a class="nav-link" href="/user">
      <% } %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
      </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Company</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <% if(view == "subscriber") { %>
  <li class="nav-item active">
  <% } else { %>
  <li class="nav-item">
  <% } %>
    <a
      class="nav-link collapsed"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-light fa-bell"></i>
      <span>Subcribers</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/admin/subscribers">Subscribers</a>
        <a class="collapse-item" href="/admin/newstellers">Newstellers</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Service  -->
  <% if(view == "service") { %>
    <li class="nav-item active">
    <% } else { %>
    <li class="nav-item">
    <% } %>
      <a class="nav-link" href="/admin/services">
        <i class="fas fa-solid fa-shield-heart"></i>
        <span>Service</span>
      </a>
    </li>

  <!-- Nav Item - Clients  -->
  <% if(view == "client") { %>
  <li class="nav-item active">
  <% } else { %>
  <li class="nav-item">
  <% } %>
    <a class="nav-link" href="/admin/clients">
      <i class="fas fa-solid fa-briefcase"></i>
      <span>Clients</span>
    </a>
  </li>

  <!-- Nav Item - Testimony  -->
  <% if(view == "testimony") { %>
  <li class="nav-item active">
  <% } else { %>
  <li class="nav-item">
  <% } %>
    <a class="nav-link" href="/admin/testimonies">
      <i class="fas fa-regular fa-comments"></i>
      <span>Testimony</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-fw fa-wrench"></i>
      <span>Utilities</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div>
  </li>
 
  <hr class="sidebar-divider" />

  <div class="sidebar-heading">Others</div>

  <!-- Nav Item - FAQs -->
  <% if(view == "faq") { %>
  <li class="nav-item active">
  <% } else { %>
  <li class="nav-item">
  <% } %>
    <a class="nav-link" href="/admin/faqs">
      <i class="fas fa-solid fa-question"></i>
      <span>FAQs</span>
    </a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
