<div class="modal fade" id="updateSubscriber" tabindex="-1" aria-labelledby="updateSubscriberLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateSubscriberLabel">Update Subscriber</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="updateForm">
          <div class="form-group">
            <label for="subscriberEmail">Email Address</label>
            <input type="email" class="form-control" id="subscriberEmail" name="email"
              placeholder="Enter email address" />
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>