<div class="modal fade" id="updatePortfolio" tabindex="-1" aria-labelledby="updatePortfolioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePortfolioLabel">Update Portfolio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="updateForm" method="post" enctype="multipart/form-data">
          <img src="" alt="" id="latestPortfolioThumbnail" class="img-fluid" style="width: 100%; max-width: 300px" />
          <div class="form-group">
            <label for="updateThumbnail">Thumbnail</label>
            <input type="file" class="form-control" id="updateThumbnail" name="portfolioThumbnail" accept="image/*" />
          </div>
          <div class="form-group">
            <label for="updatePortfolioName">Portfolio Name</label>
            <input type="text" name="portfolioName" id="updatePortfolioName" class="form-control"
              placeholder="e.g. E-Commerce, Blog, etc" required />
          </div>
          <div class="form-group">
            <label for="updateOrientation">Orientation</label>
            <select name="orientation" id="updateOrientation" class="form-control" required>
              <option value="">(Select One)</option>
              <option value="PORTRAIT">PORTRAIT</option>
              <option value="LANDSCAPE">LANDSCAPE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="updateServiceId">Service ID</label>
            <select name="serviceId" id="updateServiceId" class="form-control" required>
              <option value="">---</option>
              <% services.forEach((service)=> { %>
                <option value="<%= service.id %>">
                  <%= service.name %>
                </option>
                <% }) %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>